@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: 'Poppins',sans-serif;
    color:var(--primary-text-color);
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-family: 'roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}
button{
    font-family: 'Poppins',sans-serif;
    padding: 7px 10px;
}
img{
    display: inline-block;
    vertical-align: middle;
}
/* utility classes */
.small-bold-text{
    font-size: 1rem;
    font-weight: 600;
}

.container{
    /* background-color: #4c677c; */
    /* display: flex; */
    max-width: 1180px; 
    margin-inline: auto; 
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;
}
ul{
   list-style: none;
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s;
}
.hover-link:hover{
    color: var(--secondary-text-color);
}

.secondary-button{
    font-weight: 700;
    border: 0.5px solid var(--secondary-text-color);
    padding: 12px 20px;
    border-radius: 7px;
    color: var(--primary-text-color) !important;
    transition: o.2 ease-out;
}
.secondary-button:hover{
   border-color: var(--accent-color);
   color: var(--accent-color) !important;
}
.primary-button{
     background-color: var(--accent-color);
     padding: 12px 24px;
     border-radius: 5px;
     color: white !important;
     transition: 0.2s ease-out;
     font-weight: 600;
     box-shadow: 0 0 2px var(--secondary-text-color);
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

 /* top banner */
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.topBanner{
    background-image: url('./asset/asset\ 32.png');
    background-size: 300px;
    background-color: #4fb3d4;
    /* background-repeat: no-repeat; */
}

/* nav bar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo img{
    width: 200px;
}
.nav-links{
    flex-basis:730px ;
    
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}

/* herosection */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    justify-content: center;
    gap: 50px;
}


.header-right img{
    width: 500px;
}
.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}
.get-started-btn{
    margin: 20px;
}

/* company section */
.companies-header{
    align-items: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 40px;
}

/* features section */
/* .features-section{
    background-image: url(./asset/asset\ 41.png);
    background-repeat: no-repeat;
    background-color: #4fb3d4;
} */

.features-section{
    /* background-color: #4fb3d4; */
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./asset/asset\ 34.svg);
    background-repeat: no-repeat;
    align-items: center;
    background-position: center;
}
.feature-header{
   text-align: center;

}
.feature-header h2{
    margin-bottom: 20px;
}
.features{
   
    display: grid;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.features img{
    width: 40px;
}
.features a img{
    width: 10px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 30%;
}
.features-card img{
    width: 60px;
}
/* big feature section */
.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}
.feature-img img{
    width: 100%;
}
.big-feature-container{
    gap: 30px;
}
.features-desc{
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
}
.person{
    margin-top: 20px;
}
.person-img{
    max-height: 48px;
}

.person-name-title{
    padding-left: 15px;
}
.person-name{
    color: rgb(24,59,86);
    font-weight: 400;
}
.person-title{
    font-family: "Averta PE",sans-serif;
    color: rgb(87,117,146);
    line-height: 18px;
}
/* .examples-section */
.examples-section{
    padding: 40px ;
}
.example-header{
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}
.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background-color: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./asset/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.3s ease-out;
}
.examples-card:hover{
    box-shadow: 0 0 10px #888;
}
.examples-card:nth-child(2){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./asset/asset\ 37.jpeg);
    background-size: cover;
}
.examples-card:nth-child(3){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./asset/asset\ 38.jpeg);
    background-size: cover;
}
.examples-card:nth-child(4){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(./asset/asset\ 39.jpeg);
    background-size: cover;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    
}

 /* cta section */
 .cta-section{
    background-color: #183b56;
    color: white;
    padding:70px ;
 }
 .cta-text{
    flex-direction: column;
    align-items: flex-start;
 }
 .cta-text p{
    color: rgb(214, 214, 214);
   margin-block: 20px;
 }
 .features-list{
    margin-left: 10px;
 }
.features-list-div{
  justify-content: space-between;
  gap: 30px;
  margin-block:20px ;
}
.features-list ul li{
    margin-bottom: 10px;
}

.cta-img{
    width: 100%;
    height: 600px;
   background-image: url(./asset/asset\ 40.png);
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
   justify-content: center;
   overflow: visible;
   background-position: 50% 50%;
   -webkit-box-align: center;
   -webkit-box-pack: center;
   background-size: contain;
   
}
.cta-img-top{
    background-image: url(./asset/asset\ 41.png);

    width: 286px;
    height: 300px;
    max-height: 50%;
    max-width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-self: auto;
    background-repeat: no-repeat;
    gap: 10px;
}
.panel-price{
    color: rgb(24 ,59,86);
    font-family: "averta PE",sans-serif;
    font-weight: 600;
    line-height: 1;
}
.currency{
    flex-direction: row;
    margin-bottom: 8px;
}
.price{
    color: rgb(34,148,237);
    font-weight: 600;
    line-height: 36px;
   font-size: 50px;
}
.dollar{
    font-family: "Averta PE", sans-serif;
    color: rgb(139, 166, 192);
    font-size: 24px;
    font-weight: 600;
}
/* 
testig section */
.testing-section{
    margin-top:120px ;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 29px;
}
/* footer */
footer{
    background-color: #ebf2fa;
}
.footer-section{
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    padding: 80px var(--padding-inline-section) 80px;
}
.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.link-column h4{
    padding-bottom: 15px;
}
.link-column a{
    color: #424d57
}

/* sub footer */
.subfooter{
    padding: 20px  var(--padding-inline-section) 20px;
    background-color: #b9cde4;
}
.subfooter-container{
    justify-content: center;
}
.text{
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.text a{
    font-size: 17px;
    color: black;
    font-family:"averta PE", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text a img{
    width: 20px;
}
